@import "tailwindcss";

* {
    font-family: cursive
}

:root {
    --gradient-primary: linear-gradient(90deg, #f4864d 20%, #d73030 30%, #dc3232 70%, #f6793b 80%);
    --animate-shine: shine 3s ease-in-out infinite alternate;
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.gradient-text {
    background: var(--gradient-primary);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: var(--animate-shine);
}